{% extends 'base.html.twig' %}

{% block title %}Edit Unite{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("assets/css/styles.css") }}">
 
{% endblock %}

{% block body %}
  <div class="container">
    <h1 class="text-center mt-4 mb-4">Edit Unite</h1>

    <div class="row justify-content-center">
    <div class="col-md-8">
        <div class="form-container">
            <div class="row justify-content-center align-items-center">
            
                {{ include('unite/_form.html.twig', {'button_label': 'Update'}) }}
                <div class="col-md-4 text-center">
                    <a href="{{ path('app_unite_index') }}" class="btn btn-info btn-sm">Back to List</a>
                </div>
                <div class="col-md-4 text-center">
                    {{ include('unite/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
</div>

</div>

{% endblock %}
