<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Réservation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            padding: 20px;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
        }

        h1 {
            color: #ff69b4; /* Rose */
            text-align: center;
            margin-bottom: 30px;
        }

        table {
            width: 100%;
            margin: 0 auto; /* Centre le tableau horizontalement */
            margin-bottom: 20px;
            background-color: #fff;
            border: 3px solid #000; /* Bordure large noire */
            border-collapse: collapse;
        }

        table th, table td {
            padding: 10px;
            border: 1px solid #ddd;
        }

        .green-text {
            color: #98fb98; /* Vert pistache */
        }

        /* Style pour le logo */
        .logo {
            text-align: center;
            margin-top: 50px;
        }

        /* Style pour le nom ImpactfulJournyes */
        .company-name {
            text-align: center;
            color: #333;
            font-size: 24px;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Unite Details</h1>
        <table class="table">
            <tr>
                <td class="green-text"><strong>Numéro d'unité:</strong></td>
                <td>{{ unite.NumUnite }}</td>
            </tr>
            <tr>
                <td class="green-text"><strong>Titre:</strong></td>
                <td>{{ unite.Titre }}</td>
            </tr>
            <tr>
                <td class="green-text"><strong>Statut:</strong></td>
                <td>{{ unite.Statut }}</td>
            </tr>
            <tr>
                <td class="green-text"><strong>Contenu:</strong></td>
                <td>{{ unite.Contenu }}</td>
            </tr>
            <tr>
                <td class="green-text"><strong>Course ID:</strong></td>
                <td>{{ unite.idCour }}</td>
            </tr>
        </table>
        <!-- Logo et nom de l'entreprise -->
        <div class="logo">
            <div id="gtco-logo">
                            
                            <a href="index.html">Smart steps <em>.</em></a>
                        </div>
        </div>
        
    </div>
</body>
</html>
