{% extends 'base.html.twig' %}

{% block title %}New Forum{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h1 class="text-center mb-0">Create new Forum</h1>
                    </div>
                    <div class="card-body">
                        {{ form_start(form, {'attr': {'class': 'row g-3', 'novalidate': 'novalidate'}}) }}
                        {{ form_errors(form) }}

                        <div class="col-md-6">
                            {{ form_label(form.titre, 'Titre', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.titre, {'attr': {'class': 'form-control' ~ (form_errors(form.titre)|length ? ' is-invalid' : (form.vars.valid ? ' is-valid' : '')), 'id': 'validationCustomTitre'}}) }}
                            {% if form_errors(form.titre)|length %}
                                <div class="invalid-feedback">
                                    {{ form_errors(form.titre) }}
                                </div>
                            {% endif %}
                        </div>

                        <div class="col-md-6">
                            {{ form_label(form.image, 'Image', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.image, {'attr': {'class': 'form-control' ~ (form_errors(form.image)|length ? ' is-invalid' : (form.vars.valid ? ' is-valid' : '')), 'id': 'validationCustomImage'}}) }}
                            {% if form_errors(form.image)|length %}
                                <div class="invalid-feedback">
                                    {{ form_errors(form.image) }}
                                </div>
                            {% endif %}
                        </div>

                        <div class="col-12">
                            {{ form_label(form.description, 'Description', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.description, {'attr': {'class': 'form-control' ~ (form_errors(form.description)|length ? ' is-invalid' : (form.vars.valid ? ' is-valid' : '')), 'id': 'validationCustomDescription'}}) }}
                            {% if form_errors(form.description)|length %}
                                <div class="invalid-feedback">
                                    {{ form_errors(form.description) }}
                                </div>
                            {% endif %}
                        </div>

                        <div class="col-12">
                            {{ form_label(form.datecreation, 'Date de création', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.datecreation, {'attr': {'class': 'form-control' ~ (form_errors(form.datecreation)|length ? ' is-invalid' : (form.vars.valid ? ' is-valid' : '')), 'id': 'validationCustomDateCreation'}}) }}
                            {% if form_errors(form.datecreation)|length %}
                                <div class="invalid-feedback">
                                    {{ form_errors(form.datecreation) }}
                                </div>
                            {% endif %}
                        </div>

                        <div class="col-12">
                            <button class="btn btn-primary" type="submit">{{ button_label|default('Save') }}</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        body {
            background-color: #f4f4f4;
        }
    </style>
{% endblock %}
